:root {
    --primary: #ffffff;

    
  }
  .btn {
      padding: 80px;
      border-radius: 40px;
      outline: none;
      border: none;
      cursor: pointer;
  }
  .btn--primary{
      background-color:var(--yellow);
      color: rgb(14, 13, 13);
      border: 1px solid var(--primary);
  }
  .btn--outline{
    background-color:transparent;
    color: white;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-in-out ;
}
.btn--medium{
    padding: 8px 20px;
    font-size: 20px;


}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover,.btn--large:hover{
    background: rgb(255, 255, 255);
    color: black;
    transition: all 0.3s ease-out ;
}