.catalogue-display{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 600px;
    width: 100%;
    flex-basis: 100%;
    /* margin: 100px; */
    /* background-color: rgb(10, 1, 1); */
  
}
/* .cadre-centre{ */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff; */
/* } */
.row{
    display: flex;
     /* background-color: rgb(97, 75, 75); */
    margin: 5px;
    flex-basis: 100%;
    height: auto;
}
.page-title{
    display: flex;
    width: 100%;
   
  }
  /* scrollbar */
  .filters-colunns::-webkit-scrollbar{
      width: 7px;
      background-color: #ecebeb;
  }
  ::-webkit-scrollbar-thumb{
      background-color: #eb1f1f;
      height: 100px;
  }
  .page-title-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
     width: 100%;
    height: 30px;
    margin: 10px;
  }
.filters-colunns{
   max-height: 500px;
    /* background-color: rgb(255, 16, 16); */
    flex-basis: calc(25% - 5px);
	margin-left: 10px;
	min-width: 15rem;
    overflow-y: scroll;
    background-color: rgb(160, 160, 167);

}
.fa-sliders{
    font-size:3rem;
    color: green;
    /* background-color: rgb(7, 116, 21); */
}
.listing-column{
    /* min-width:75%; */
    height: auto;
    /* background-color: rgba(72, 0, 240, 0.938); */
    flex-basis: calc(75% - 5px);
   
}
.filter-produit{
    background-color: rgb(255, 254, 254);
}

/*** ecran moyen**/
@media  only screen and (min-width:768px) and (max-width: 1024px) {
   
    .listing-column{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(62, 199, 20, 0.938);
        flex-basis: calc(100% - 5px);
       
    }
     .filters-colunns{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(216, 136, 30, 0.938);
        flex-basis: calc(100% - 5px);
       
    }
    
}
/*** ecran petit p************************************/
@media screen and (max-width:768px) {
    .listing-column{
        /* min-width:75%; */
        background-color: rgba(24, 27, 23, 0.938);
        flex-basis: calc(100% - 1px);
       
    }
     .filters-colunns{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(16, 17, 112, 0.938);
        flex-basis: calc(100% - 1px);
       
    }
}