.catalogue-display{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 600px;
    width: 100%;
    flex-basis: 100%;
    /* margin: 100px; */
    /* background-color: rgb(10, 1, 1); */
  
}
.applied-filter .close{
    cursor: pointer !important;
   display: block;
    padding-left: 4px;
    padding-right: 4px;
   /* border:1px solid rgb(172, 168, 168); */
}
.applied-filter{
    margin-left: 30px;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 5px 4px 10px;
    border-radius: 3px;
    position: relative;
    margin-right: 5px;
    font-size: 12px;
    color: #4a4a4a;
    font-weight: 500;
    border: 1px solid #ccc;
    border: 1px solid rgba(142,142,147,.2);
    margin-bottom: 5px;
    
}

/* .cadre-centre{ */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff; */
/* } */
.row{
    display: flex;
     /* background-color: rgb(97, 75, 75); */
    margin: 5px;
    flex-basis: 100%;
    height: auto;
}
.page-title{
    display: flex;
    width: 100%;
   
  }
  /* scrollbar */
  .filters-colunns::-webkit-scrollbar{
      width: 7px;
      background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb{
      background-color: #799170;
      height: 100px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .page-title-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
     width: 100%;
    height: auto;
    margin: 10px;
  }
.filters-colunns{
   max-height: 500px;
    /* background-color: rgb(255, 16, 16); */
    flex-basis: calc(25% - 5px);
	margin-left: 10px;
	min-width: 15rem;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);

}
.fa-sliders{
    font-size:3rem;
    color: green;
    /* background-color: rgb(7, 116, 21); */
}
.listing-column{
    /* min-width:75%; */
    height: auto;
    /* background-color: rgba(72, 0, 240, 0.938); */
    flex-basis: calc(75% - 5px);
   
}
.filter-produit{
    background-color: rgb(255, 254, 254);
}

/*** ecran moyen**/
@media  only screen and (min-width:768px) and (max-width: 1024px) {
   
    .listing-column{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(255, 255, 255, 0.938);
        flex-basis: calc(70% - 5px);
       
    }
     .filters-colunns{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(255, 255, 255, 0.938);
        flex-basis: calc(30% - 5px);
       
    }
    
}
/*** ecran petit p************************************/
@media screen and (max-width:768px) {
    .row{
       flex-direction: column;
    }
    .listing-column{
        /* min-width:75%; */
        background-color: rgba(255, 255, 255, 0.938);
        flex-basis: calc(100% - 1px);
       
    }
     .filters-colunns{
        /* min-width:75%; */
        height: auto;
        background-color: rgba(255, 255, 255, 0.938);
        flex-basis: calc(100% - 1px);
       
    }
}