/* ===============footer style =============== */
footer{
    flex-basis:calc(100% - 40px);
    flex-shrink: 0;
    height: 100%;
    position: relative;
    background-color: rgba(27, 32, 39, 0.918);
   
    
  }
  .centrer{
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
  }
  .contenu{
    /* Générer un nouveau contexte d'affichage
          en grille avec gouttières pour les enfants */
        display: flex;
      flex-wrap: wrap;
        margin-left: -20px;
  } 
  .contenu >*{ 
      /* Utiliser pour montrer le problème*/
      /*background-color: aqua; */
      flex-basis: calc(20% - 40px);
     color:#8F8F8F;
        margin-top: 20px;
      margin-left: 20px;
      min-width: 200px;
      flex-grow: 1;
     
     
  } 
  
  .cadres h2 {
    color: rgba(245, 245, 250, 0.822);
    font-size: 20px;
  }
  .cadres p{
   color:#8F8F8F;
  }
  .cadres>*  ,.flex-row>*{
  
    margin: 10px;
  }
  
  .text-gray{
    font-size: 16px;
    color:#8F8F8F;
    
  }
  .contenu .Support .formElement{
    display: inline-block;
  }
  .contenu .Support .formElement input{
    padding: .5rem .7rem;
    border: none;
    background:transparent;
    color: white;
    font-size: 1rem;
    width: 74%;
  }
  .contenu .terme div>img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
  }
  .contenu .suivre .social a{
   padding: 0 .4rem;
  }
  .rights{
    display: flex;
    flex-direction: row ;
    justify-content:center;
    background-color: rgb(10, 1, 1);
  
  }
  .up{
    position: absolute;
    right: 6%;
    bottom: 10%;
  }
  .up span{
    color:rgba(85, 85, 240, 0.835);
  }
  .up span:hover{
    color:rgb(182, 182, 187);
    cursor: pointer;
  }
  .erroFile{
    color: red;
  }
  
  
  
  
  
  
  