.singleProduct_info{
    background-color: rgb(118, 253, 100);
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    flex-grow: 1;
    width: 50%; 
}
.singleProduct_info>*{
  
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    flex-direction: column;
    flex-basis:calc(33.33% - 20px);
}
.img-container{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 500px;
    position: relative;
}
.btn-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top:50%;
}
.w3-button{
    z-index: 9999999;
    color: rgb(7, 1, 1);
    background: rgba(215, 215, 215, 0.717);
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
}
.img-container img{
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.imgSlide{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgSlide-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    height: 50px;
}
.mySlides {display:none;}