.singleProduct_info{
    background-color: rgb(118, 253, 100);
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    flex-grow: 1;
    width: 100%; 
}
.singleProduct_info>*{
  
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    flex-direction: column;
    flex-basis:calc(33.33% - 20px);
}
.img-container{
    background-color: rgb(46, 216, 111);
    height: 400px;
}